.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-container h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.contact-container .address{
    font-size: 1.5rem;
    padding: 0px 15rem 0px 2rem;
}
.form-container #Registration{
    margin-top: 3rem;
}
.form-container .input-box input,
.form-container form textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    margin: 0.5rem 0.2rem;
    resize: none;
}


.form-container form .input-box input {
    width: 100%;
}

.form-container form .btn{
    margin-top: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: var(--bg-color);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-color);
    font-weight: 600;
}

.contact-all p{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: var(--bg-color);
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
} 

.contact-all p a{
    color: var(--text-color);
}
.privious{
    padding-top: 6rem;
}

.error{
    color: red;
    font-size: 10px;
    margin-top: -10px;
}