@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color:#3a0ca3;
    --text-color:#fff;
    --main-color:#c0fdfb;
}

html{
    font-size: 80%;
    overflow-x: hidden;
}

article{
    min-height: 100vh;
    padding: 7rem 5% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

ul {
    list-style: none;
    text-align: center;
}


ul li {
    display: inline-block;
}

.navbar a {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-left: 3rem;
    font-weight: 500;
    transition: 0.5s;
}



footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    flex-wrap: wrap;
    padding: 1rem 5%;
    background: var(--bg-color);
}


